@font-face {
    font-family: "CustomFont";
    src: url("./assets/Jost.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "CustomFont", sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.border-transparent {
    border-color: transparent !important;
}

/* bs override */
@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1580px;
    }
}
